*{
    margin: 0;
    padding: 0;
    color: darkgoldenrod;
}
.images{
    width: 400px;
    border-color: #ece;
    border-width: 6px;
    border-style: solid;
    border-style: inset;

    border: 7px inset #bebe;
}
